html, body {
    font-family:'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffd000;
    background-color: black;
}

main {
    margin-left: 3%;
}

header{
    background: #a50909;
    color: #ffd000;
    padding: 10px 40px;
    width: 100%;
}

header {
    font-size: 20px;
}

.navTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.navOther {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.navLink {
    color: #ffd000;
    padding-bottom: 4px;
    border-bottom: 2px;
}

footer {

    background: #000000;
    color: #ffd000;
    padding: 10px 40px;
    width: 100%;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
    box-sizing: border-box;
}

footer p {
    margin: 0;
}

.contactCard{
    
    background-color: #4d0606;
    border-radius: 12px;
    overflow: hidden;
}
hr {
    border: 5px;
    border-top: 1px solid #ffd000;
    margin: 24px 0;
}

.card, .list {
    border-radius: 100%;
    padding: 16px 24px;
    margin-bottom: 10px;
}

.list {
    padding-left: 40px;
    line-height: 2;
}

.link {
    color: #d41313;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0 20px;
}

.button {
    background: #c20000;
    color: #ffd000;
    border-style: ridge;
    border-width: 5px;
    border-color: #4d0606;
    
    padding: 15px 30px;
    border-radius: 10%;
}

.nameText {
    font-size: 30px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 0px;
    color: #ffd000;
}
.profText {
    font-size: 22px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 0px;
    color: #c0a50f;
}
.Title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.qaList {
    padding: 0;
}

.qaList > li {
    margin-bottom: 16px;
}

.photo
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    

    border-style: groove;
    border-color: #ffd000;
    border-width: 10px;
    object-fit: cover;
}

.resumeBlock {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px 0 8px;
}

.sectionTitle{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.list{
    margin-top: 0px;
}

.caption {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: left;
    padding-bottom: 8px;
    color: #c0a50f;
}

.expGrid {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto;
    border-top: 5px solid #4d0606;
    border-left: 5px solid #4d0606;
    border-bottom: 5px solid #4d0606; 
    border-right: 5px solid #4d0606; 
}
.gridHeader {
    background: #702000;
    color: #ffd000;
    padding: 10px 16px;
    text-align: left;
    letter-spacing: 0.5px;
    border-right: 3px solid #4d0606;
    border-bottom: 3px solid #4d0606;
}
.gridCell {
    padding: 10px 16px;
    border-right: 3px solid #4d0606;
    border-bottom: 3px solid #4d0606;
}
.gridCell2 {
    padding: 10px 16px;
    border-left: 3px solid #4d0606;
    border-right: 3px solid #4d0606;
    border-top: 3px solid #4d0606;
    border-bottom: 3px solid #4d0606;
    margin-bottom: 3px;
}

.inlineTag {
    background: #4d0606;
    color: #ffd000;
    padding: 4px 14px;
    font-size: 14px;
    margin-right: 6px;
}

.blockItem {
    border-left: 4px solid #d41313;
    color: #ffd000;
    padding: 10px 16px;
    margin-bottom: 6px;
}

.newsGreed{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

}

.newsCard{
    background-color: #4d0606;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.newsImg {
    width: 100%;
    aspect-ratio:  16 / 9;
    object-fit: cover;
}
.newsTxt{
    padding: 20px;
}